a{
  color: inherit;
}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .cv embed{
    height: 100vh;
  }
  .cvPhone iframe{
    height: 100vh;
  }
  .cvPhone{
    display: none;
  } 
  .responsive {
    padding: 6px 6px;
    width: 33.33%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    .hamburguesa{

      display: contents;
    }
    .hamburguesa img{
      margin-top: 22px;

      
    }
    .acercaDeMi p{
      text-align: center;
    }
   
    .cvPhone{
      display:contents;
    }
    .cv{
      display: none;
    }
    .donaciones{
      display: none;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
    .hamburguesa{
      display: contents;
      justify-content:flex-end;
      align-items:center;
    }
    .cvPhone{
      display:contents;
    }
    .cv{
      display: none;
    }
  }
  
  .courses{
    display: flex;
    flex-wrap: wrap;
    align-items:space-between;
    justify-content:space-around;
  }
 