.body{
    background-color: rgba(19, 19, 20, 0.965);
    color: rgb(223, 215, 215);
    font-family:Arial, Helvetica, sans-serif
}
.container{
    height: auto;
    width: 70vw;
    margin: 2rem auto;
}
.switch{
    position: relative;
    display: inline-block;
    width: 47px;
    height: 22px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* slider */
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}
.slider::before{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}
input:checked + .slider{
    background-color: #cccccc;
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider::before{
    transform: translateX(26px);
}
/* redondear */
.slider.round{
    border-radius: 34px;
}
.slider.round::before{
    border-radius: 50%;
}

/* cambio de color */

.change-color{
    background-color: rgba(255,255,255,255);
    color: rgba(19, 19, 20, 0.965);
}

a:link {
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    color: inherit;
}
nav {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    right: 15%;
    
}
.principal{
    background-color: rgba(19, 19, 20, 0.644);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20px;
}
nav ul li{
    padding: 10px;
    margin-right: 1rem;
    border: #000000 solid 3px;
    font-weight:bold;
}
nav a, .hamburguesa a{
    font-style: italic;
    text-decoration: none;
}
nav ul li:hover{
    background-color: #000000;
    color: #ccc;
}
footer {
    background-color: #cccccc;
    color: rgb(17, 16, 16);
    border:solid 2px rgb(0, 0, 0);
    text-align:center;
    line-height: 20px;
    padding-bottom: 10px;
    font-style: italic;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.socialMedia a{
    padding: 30px;
}
.copyright{
    margin-top:30px;
}
.acercaDeMi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px 0px 50px 0px;
    align-items: center;

}
.acercaDeMi img{
    height: auto;
    width: 20rem;
    border-radius: 70px;
    border: #000000 solid 0.5vh;
    margin: 20px;
}
.hamburguesa{
    display: none;
}
.hamburguesa img{
    width:30px;
}
.hamburguesa ul{
    display: none;
    
    
}
.hamburguesa ul li{
    list-style-type:none;
    border: #000000 solid 3px;
    font-weight:bold;
    padding: 10px;
    margin-top: 0.5rem;
}
.hamburguesa li:hover{
    background-color: #000000;
    color: #ccc;
}
.hamburguesa:hover .menuHamburguer{
    display:block;
    width: auto;
}
.cvPhone{
    display: none;
}
